@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(idroid.otf) format('opentype');
}
body{
    margin: 0 auto;
    background-color: lightgreen;
    margin-top: -21px;
    color: white;
    font-family: sans-serif;
}
header{
    background-image: linear-gradient(to bottom, #01cc01, rgba(0, 0, 0, 0.788));
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.452);
}
header > h1{
    text-align: center;
    padding-top: 20px;
}
p#textoheader{
    text-align: center;
    margin: auto;
    width: 435px;
}
p>a{
    text-decoration: none;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 10px;
    transition-duration: 0.5s;
}
p>a:hover{
    color: black;
    background-color: #45be45;
    border-radius: 2px;
}
p.link{
    display: inline-block;
}
main{
    margin: auto;
    width: 80%;
    background-color: #fff;
    color: black;
    border-radius: 0px 0px 20px 20px;
}
span.cor>a{
    text-decoration: none;
    color: green;
}
span.cor>a:hover{
    text-decoration: underline;
}
section>h2{
    font-family: 'idroid';
    color: green;
    padding-left: 4px;
}
section > h3{
    font-family: 'idroid';
    font-size: 19px;
    color:green;
    padding-left: 4px;
}
main>section{
    padding: 1px 20px;
}
.cor{
    color: green;
}
h3{
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.347), white);
}img{
    width: 100%;
}
#bgd{
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section#video{
    background-color: #005200;
    padding-top: 20px;
}
#final{
    background-color: #93f19354;
    border-radius: 20px;
}
h4{
    color: white;
    background-color: #0bb90b;
    padding: 12px;
    border-radius: 10px 10px 0px 0px;
}
ul{
    display: inline-block;
    margin-right: 20%;
}
div#final >p{
    padding: 15px;
}
footer{
    margin-top: 13px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: green;
    padding: 5px;
}
footer>p{
    margin: 0px;
}