body{
    background-color: beige;
}
main{
    background-color: #fff;;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
div#img{
    border-radius: 10px;
    width: 950px;
    background-image: url(img/image-omelette.jpeg);
    margin: auto;
    background-size: cover;

}